.card{margin-left: 23px;}

.btn{border-color: dodgerblue;}

body {background-color: black;}

#forecast {margin-left: 23px; color: white;}

.badge1 {color: lightgreen;}

.badge2 {color: yellow;}

.badge3 {color: red;}

* {font-family: 'Archivo', sans-serif;}

.flexing {display: flex;}