.card{margin-left: 23px;}

.btn{border-color: dodgerblue;}

body {background-color: black;}

#forecast {margin-left: 23px; color: white;}

.badge1 {color: lightgreen;}

.badge2 {color: yellow;}

.badge3 {color: red;}

* {font-family: 'Archivo', sans-serif;}

.flexing {display: flex;}

#gradient {background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);}

.gradient5 {background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);}